@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green:#08CF6F;
	--blue-sky:#007FFF;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}


/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--light);
  z-index: 2000;
  transition: all 0.3s ease;
  overflow-y: auto;
  font-family: var(--font-main);
  
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  margin-top: 10px;
}

#sidebar.hide .brand .text {
  display: none;
}

#sidebar .side-menu {
  margin-top: 1.5rem;
}

#sidebar .side-menu li {
  margin-bottom: 1rem;
}

#sidebar .side-menu li a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  color: rgb(46, 46, 46);
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  justify-content: flex-start;
}

#sidebar .side-menu li.active a {
  color: rgb(90, 148, 255);
  font-weight: 600;
}


#sidebar .side-menu li a:hover {
  background-color: var(--primary-light);
  color: rgb(90, 148, 255);
  font-weight: 600;
}

#sidebar .side-menu li a.logout {
  color: #dc3545;
  font-weight: 600;
}

#sidebar .side-menu li a.logout:hover {
  background-color: rgba(220, 53, 69, 0.1);
}

#sidebar .side-menu li a .fa-solid {
  width: 24px;
  text-align: center;
}

/* Hide text when sidebar is collapsed */
#sidebar.hide .side-menu li a {
  justify-content: center;
  padding: 0.5rem;
}

#sidebar.hide .side-menu li a .text {
  display: none;
}
#sidebar ul,
#sidebar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
/* #content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
} */
#content nav a {
	color: var(--dark);
}
#content nav .fa-solid {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .profile{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .control-button.top {
	display: flex;
	gap: 10px;
	align-items: center; 
}

#content main .control-button.top .btn-tambah {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue-sky);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 158px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-import {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--green);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 158px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-tambah-so {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue-sky);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 180px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-import-so {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--green);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 180px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-tambah-cp {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue-sky);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 180px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-import-cp {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--green);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 180px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-tambah-kc {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue-sky);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 230px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-import-kc {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--green);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 230px;
	font-size: 12px;
	margin-top: 6px;
}
#content main .control-button.top .btn-print {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--red);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
	width: 158px;
	font-size: 12px;
	margin-top: 6px;
}
#content main ul,
#content main ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

  
  .table-data .form-group {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
  }
  
  .table-data .form-group label {
	margin-bottom: 5px;
	font-weight: bold;
  }
  
  .table-data .form-group input {
	padding: 8px;
	border: 0px solid #ccc;
	border-radius: 20px;
	background: #e4e4e4a7;
	font-size: 16px;
  }

  .table-data .form-group input:focus {
    border-color: #0d6efd;
    
	background: #e4e4e4a7;
  }

  .table-data .form-group select {
	padding: 8px;
	border: 0px solid #ccc;
	border-radius: 20px;
	background: #e4e4e4a7;
	font-size: 16px;
  }
  
  .table-data button[type="submit"] {
	padding: 10px 20px;
	background: #007bff;
	color: white;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-weight: bold;
	margin-right: 5px;
  }
  
  .table-data button[type="submit"]:hover {
	background: #0056b3;
  }

  .password-wrapper {
    position: relative;
  }

  .password-wrapper .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }

  .table-data .form-input .btn-cancel {
	padding: 10px 20px;
	background: #f22811;
	color: white;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 12px;
  }
  
  .action-icon {
    display: inline-flex;
    margin-right: 2px;
    padding: 6px;
    border-radius: 6px;
    color: white;
	height: 30px;
	width: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .edit-icon {
    background-color: #2899ef; 
  }

  .edit-icon:hover {
    background-color: #0b5ed7;
  }

  .delete-icon {
    background-color: #f63a4d; 
  }

  .delete-icon:hover {
    background-color: #bb2d3b;
  }
  
  .criteria-icon {
    background-color: #f6e33a; 
  }

  .criteria-icon:hover {
    background-color: #c0b12e;
  }

  .approve-icon {
    background-color: #24ff54; 
  }

  .approve-icon:hover {
    background-color: #39d431;
  }
  .view-icon {
    background-color: #929292; 
  }

  .view-icon:hover {
    background-color: #474747;
  }

  

/* Button Modal */
  .btn.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    font-weight: 500;
    padding: 8px 20px;
    transition: background-color 0.2s ease-in-out;
  }

  .btn.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  
  .btn.btn-success {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: white;
    font-weight: 500;
    padding: 8px 20px;
    transition: background-color 0.2s ease-in-out;
  }

  .btn.btn-success:hover {
    background-color: #31d2f2;
    border-color: #25c7e8;
  }

  
  



#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .fa-solid {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .fa-solid {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .fa-solid {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .fa-solid {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}



#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
	max-width: 700px;
	margin-left: 0;
	padding: 30px;
	background: #fff; 
	border-radius: 8px; 
	
}

/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}